<div class="home-callout text-center container-fluid">
    <h2>Welcome to GOODPLACES</h2>
    <h3>An humble list of amazing places to stay</h3>
    <h3>brought to you by our online community</h3>
</div>